@page "/cart"

<PageTitle>Carrito de compras</PageTitle>

<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2 col-md-2">
                    <img />
                </div>
                <div class="col-sm-4 col-md-6">
                    <h4>Product Name</h4>
                    <h3>Product description</h3>
                </div>
                <div class="col-sm-6 col-md-4 row">
                    <div class="col-sm-6 col-md-6 text-md-start" style="padding-top:5px">
                        <h6><strong>$ 25.00</strong></h6>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <h1>1</h1>
                    </div>
                    <div class="col-sm-2 col-md-2">
                        <button type="button" class="btn btn-outline-danger btn-sm">
                            x
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="">
                Total <strong>$ 50.00</strong>
            </div>
            <a href="" class="btn btn-success">Address</a>
        </div>
    </div>
</div>

@code {

}
