@page "/login"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService
@inject IAuthService AuthService
@inject ICartService CartService

<PageTitle>Inicia Sesión</PageTitle>

<div class="container">
    @if (isProcessing)
    {
        <div class="my-lg-5 d-flex align-items-center justify-content-center vh-100">
            <div class="spinner-border text-primary"
             style="width: 3rem; height: 3rem;"
             role="status">
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="bg-white p-5 rounded-5 text-secondary shadow">
                <div class="d-flex justify-content-center">
                    <img src="/images/shoemaker.jpg" style="height: 7rem" />
                </div>
                <div class="text-center fs-1 fw-bold">Calceus</div>
                <EditForm Model="user" OnValidSubmit="LoginHandler">
                    <DataAnnotationsValidator />
                    <div class="input-group mt-4">
                        <div class="input-group mt-3">
                            <span class="input-group-text bg-primary"><i class="bi bi-envelope-fill" style="color:#fff"></i></span>
                            <InputText id="email" placeholder="Correo electrónico" @bind-Value="user.Email" class="form-control" />
                        </div>
                        <ValidationMessage class="form-control" For="@(()=>user.Email)" />
                        <div class="input-group mt-3">
                            <div class="input-group">
                                <span class="input-group-text bg-primary"><i class="bi bi-lock-fill" style="color:#fff"></i></span>
                                <InputText id="password" placeholder="Contraseña" @bind-Value="user.Password" class="form-control" type="password" />
                            </div>
                            <ValidationMessage class="form-control" For="@(()=>user.Password)" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-4 fw-semibold shadow-sm">Inicia Sesión</button>
                </EditForm>
                <div class="d-flex gap-1 justify-content-center mt-4">
                    <div>¿No tienes una cuenta?</div>
                    <a href="register" class="text-decoration-none text-info fw-semibold">Regístrate</a>
                </div>
                @if (errorMessage.Length > 0)
                {
                    <div class="py-2">
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            <strong>@errorMessage</strong>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {
    private UserLogin user = new UserLogin();

    bool isProcessing { get; set; } = false;

    string errorMessage = string.Empty;

    private async Task LoginHandler()
    {
        isProcessing = true;

        var result = await AuthService.Login(user);

        if (result.Success)
        {
            errorMessage = string.Empty;

            await LocalStorageService.SetItemAsync("authToken", result.Data);

            await AuthenticationStateProvider.GetAuthenticationStateAsync();

            await CartService.StoreCartItems(true);

            await CartService.GetCartItemsCount();

            NavigationManager.NavigateTo("");

            isProcessing = false;
        }
        else
        {
            errorMessage = result.Message;

            isProcessing = false;
        }
    }
}
