@page "/orders"
@inject IOrderService OrderService
@inject IProfileService ProfileService

<PageTitle>Mis órdenes</PageTitle>

<div class="container">
    @if (isProcessing)
    {
        <div class="my-lg-5 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary"
             style="width: 3rem; height: 3rem;"
             role="status">
            </div>
        </div>
    }
    else
    {
        if (profile == null)
        {
            <div class="py-2">
                <div class="alert alert-dismissible alert-secondary">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>Completa tu perfil para completar tu envío de la compra</strong>
                </div>
            </div>
        }
        else
        {
            if (orders == null || orders.Count <= 0)
            {
                <div class="py-2">
                    <div class="alert alert-dismissible alert-secondary">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <strong>No tienes órdenes, todavía</strong>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <div class="row">
                        <div class="col">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td># Orden</td>
                                                <td>Fecha de la orden</td>                                                
                                                <td>Precio Total</td>
                                                <td></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var order in orders)
                                            {
                                                <tr>
                                                    <td>@order.Id</td>
                                                    <td class="text-end">@order.OrderDate</td>                                                    
                                                    <td class="text-end">$ @order.TotalPrice</td>
                                                    <td><a href="order/@order.Id">Ver orden</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

@code {
    bool isProcessing { get; set; } = false;
    string mainErrorMessage { get; set; } = string.Empty;
    string message { get; set; } = string.Empty;

    List<OrderCustomerResponse> orders = null;
    Profile profile = null;

    protected override async Task OnInitializedAsync()
    {
        isProcessing = true;

        profile = await ProfileService.GetProfile();
        orders = await OrderService.GetCustomerOrders();

        isProcessing = false;
    }
}
