@page "/product/test"

<div class="container">
    <div class="card">
        <div class="container-fluid">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <img src="/images/shoes.png" />
                </div>
                <div details col-md-6>
                    <h3 class="product-name">Name</h3>
                    <p class="product-description">lorem lorem lorem lorem lorem lorem</p>
                    <h4 class="price">Precio: <span>$180</span></h4>
                    <h5 class="sizes"> Tallas: <span>talla</span> </h5>
                    <h5 class="colors">Colores: <span class=""></span></h5>
                    <div class="action">
                        <button class="btn btn-primary add-to-cart">Añadir al carro</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
