.site-title {
    font-size: 1.8em !important;
    color: white !important;
    margin: 0;
}

.search-form .form-group {
    width: 474px;
    background: #fff;
    border-top-left-radius: 20px;
    border: none;
    padding: 10px 20px;
}

    .search-form .form-group input {
        background: none;
        border: none !important;
        width: 100%;
    }

        .search-form .form-group input:focus {
            outline: none;
            border: none;
        }

.nav-items-group .cart-icon {
    margin: auto 2em;
    position: relative;
}

    .nav-items-group .cart-icon small {
        position: absolute;
        top: -10px;
        right: -5px;
    }

.nav-items-group small {
    font: 16px !important;
}

@media only screen and (max-width: 992px) {
    .search-form {
        margin: 20px auto;
    }

        .search-form .form-group {
            width: 95%;
        }

    .nav-items-group .cart-icon {
        margin: auto 2em auto 0;
    }
}
