@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject ISyncLocalStorageService SyncLocalStorage
@inject ICartService CartService
@implements IDisposable

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand site-title" href="/">Calceus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCalceus" aria-controls="navbarCalceus" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCalceus">
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left:auto;">
                            <li class="nav-item">
                                <a class="nav-link active" href="admin/categories/1">
                                    Categorías
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="admin/sizes/1">
                                    Tallas
                                </a>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="business">
                    <Authorized>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="business/colors/1">
                                    Mis Colores
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="business/products/1">
                                    Mis Productos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="business/stores/1">
                                    Mi Tienda
                                </a>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left:auto;">
                            <li class="nav-item d-flex align-items-center nav-items-group">
                                <a class="nav-link" href="profile">
                                    <span class="icon d-flex align-items-center text-white">
                                        <i class="bi bi-person-fill" style="font-size: 1.5rem;"></i>
                                    </span>
                                </a>
                                <a class="nav-link" href="cart">
                                    <span class="icon d-flex align-items-center text-white">
                                        <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                                        <small class="text-white">@GetCartItemsCount()</small>
                                    </span>
                                </a>
                                <button class="nav-link" @onclick="LogoutHandler">
                                    <span class="icon d-flex align-items-center text-white">
                                        <i class="bi bi-box-arrow-right" style="font-size: 1.5rem;"></i>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </Authorized>
                    <NotAuthorized>
                        <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left:auto;">
                            <li class="nav-item d-flex align-items-center nav-items-group">
                                <a class="nav-link" href="cart">
                                    <span class="icon d-flex align-items-center text-white">
                                        <i class="bi bi-cart-fill" style="font-size: 1.5rem;"></i>
                                        <small class="text-white">@GetCartItemsCount()</small>
                                    </span>
                                </a>
                                <a class="nav-link" href="login">
                                    <span class="icon d-flex align-items-center text-white">
                                        <i class="bi bi-box-arrow-in-left" style="font-size: 1.5rem;"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</header>

@code {
    protected override void OnInitialized()
    {
        CartService.CartChanged += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.CartChanged -= StateHasChanged;
    }

    private async Task LogoutHandler()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }

    private int GetCartItemsCount()
    {
        var cart = SyncLocalStorage.GetItem<List<Cart>>("cart");
        return cart != null ? cart.Count : 0;
    }
}
