@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Calceus</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCalceus"
                    aria-controls="navbarCalceus"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCalceus">
                <form class="d-flex me-auto my-2">
                    <input class="form-control me-sm-2" type="search" placeholder="Buscar artículo">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-house-door-fill"></i> Admin
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="admin/categories">Categorias</a>
                                </div>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="business">
                    <Authorized>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="business/products">Mis Productos</a>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-person-fill"></i> Usuarios
                                </a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile">Mi perfil</a>
                                    <button class="dropdown-item" @onclick="LogoutHandler">Cerrar sesión</button>
                                </div>

                            </li>
                        </ul>
                    </Authorized>
                    <NotAuthorized>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-person-fill"></i> Usuarios
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="register">Regístrate</a>
                                    <a class="dropdown-item" href="login">Inicia sesión</a>
                                </div>

                            </li>
                        </ul>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</header>

@code {
    private async Task LogoutHandler()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}
