@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Calceus</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCalceus"
                    aria-controls="navbarCalceus"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCalceus">
                <AuthorizeView Roles="admin">
                    <Authorized>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-house-door-fill"></i> Admin
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="admin/categories/1">Categorias</a>
                                    <a class="dropdown-item" href="admin/sizes/1">Tallas</a>
                                </div>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="business">
                    <Authorized>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-building"></i> Mi negocio
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="business/colors/1">Mis Colores</a>
                                    <a class="dropdown-item" href="business/products/1">Mis Productos</a>
                                    <a class="dropdown-item" href="business/stores/1">Mi Tienda</a>
                                </div>
                            </li>
                        </ul>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-person-fill"></i> Usuarios
                                </a>

                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile">Mi perfil</a>
                                    <button class="dropdown-item" @onclick="LogoutHandler">Cerrar sesión</button>
                                </div>
                            </li>
                            <li>
                                <form action="">
                                    <div class="form-group d-flex align-items-center">
                                        <input class="w-100" type="search" placeholder="Buscar artículo">
                                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </Authorized>
                    <NotAuthorized>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   data-bs-toggle="dropdown"
                                   href="#"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <i class="bi bi-person-fill"></i> Usuarios
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="register">Regístrate</a>
                                    <a class="dropdown-item" href="login">Inicia sesión</a>
                                </div>
                            </li>
                            <li>
                                <form action="">
                                    <div class="form-group d-flex align-items-center">
                                        <input class="text-bg-dark w-100" type="search" placeholder="Buscar artículo">
                                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </nav>
</header>

@code {
    private async Task LogoutHandler()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("");
    }
}
