@page "/business/products"

@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "business")]

<div class="container">
    <h3 class="py-2">Productos</h3>

    <button class="btn btn-primary float-end">
        <i class="bi bi-plus"></i> Añadir producto
    </button>

</div>

@code {

}
